<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7feca819-affd-4a66-93d1-a1ebaf452092" Alias="Contact - Form - Single Form Picker Property Editor" Level="1">
  <Info>
    <Name>Contact - Form - Single Form Picker Property Editor</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <EditorUIAlias>Forms.PropertyEditorUi.FormPicker.Single</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>